name: Terraform

on:
  push:
    branches:
      - master
      - main

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: 'eu-west-1'

jobs:
  Terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2.0.3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Terraform Output
        id: terraform_output
        run: |
          terraform output -json > output.json
          echo "::set-output name=ip::$(jq -r '.instance_public_ip.value' output.json)"

      - name: Print Output
        run: |
                echo "Instance IP: ${{ steps.terraform_output.outputs.ip }}"
